@charset "utf-8";

html {
  
}

::-webkit-scrollbar {
    width: 0.5vh;
    background-color: transparent; 
}

::-webkit-scrollbar-thumb {
	background-image: linear-gradient(#56d1f8, #f87c56);
}

body {
	background-color: #333;
	margin: 0 auto;
	width: 100%;
	font-family: 'Corbel Light', sans-serif;
}

header {
	background-color: #333;
	margin: 0 auto;
}

main {
	width: 100%;
	margin: 0 auto;
	background-color: #333;
}

footer {
	background-color: #EEEEEE;
	width: 100%;
	left: 50%;
	right: 50%;
	margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 2px 27px;
    text-decoration: none;
}

/*Check if needed*/
.active {
    background-color: #4CAF50;
}

/*Navi menu on top*/
section.top {
	display:flex;
}

nav.top {
	width: 15%;
	height: 2%;
	float: left;
}

video.home {
	width: 5vh;
	height: 5vh;
	transition-duration: 0.5s;
	padding-left: 3%;
	padding-top: 1%;
}

#usernameTitle {
	width: 70%;
	font-size: 4vh;
	text-align: center;
	transition-duration: 1s;
	padding-top: 1vh;
	margin: 0 auto;
	color: #eee;
}

video.home:hover {
	width: 5.5vh;
	height: 5.5vh;
	padding-left: auto;
}

button.top {
	border: none;
	width: 15%;
	height: 7vh;
	background-color: #333;
	float: right;
}

#logOut-button {
	display: none;
}

img.reg {
	width: 25vh;
	height: 5.5vh;
	transition-duration: 0.5s;
}

img.reg:hover {
	width: 25.5vh;
	height: 5.7vh;
}

/*Title*/

#title-video {
	width: 100%;
}

#title-image {
	width: 100%;
	display: none;
}

/*Menu*/

ul.bottom {
	width: 100%;
	display: table;

	padding-top: 1vh;
}

li.bottom {
	height: 3.8vh;
	width: 50%;
	font-size: 2.6vh;
	transition-duration: 0.5s;
	display: table-cell;
	color: #eee;
	padding-top: 0.5vh;
}

.dropdown {
	width: 70%;
	height: 100%;
	display: block;
	border-color: #444;
	background-color: #444;
	/*background-image: linear-gradient(-90deg, #A9A5A5, #E0896E);*/
	float: right;
	font-size: 2.6vh;
	color: #eee;
	transition-duration: 0.5s;
	font-family: 'Corbel Light', sans-serif;
}

.dropdown:hover {
	border: none;
	background-image: linear-gradient(-90deg, #59d0f5, #90b3be);
}

#fileInput {
	display: none;
}

.menu {
	border:none;
	background-color: #333;
	width: 49%;
	height: 100%;
	color: #eee;
	font-size: 2.6vh;
	transition-duration: 0.5s;
	font-family: 'Corbel Light', sans-serif;
	padding-bottom: 1vh;
}

.menu:hover {
	background-image: linear-gradient(-90deg, #A9A6A5, #F77C57);
	color: #000;
}

h1 {
	text-align: center;
	color: #22222F;
}

p {
	margin: 8px;
	font-size: 22px;
	text-align: justify;
}

h2 {
	text-align: center;
	color: #22222F;
}
/*Any need?*/
.container {
	width: 100%;
	perspective: 1px;
  	transform-style: preserve-3d;
  	height: 100vh;
  	overflow-x: hidden;
  	overflow-y: scroll;
	margin: 0 auto;
}

.top_container {
  width: 100%;
  
  margin: 0 auto;
}

.bottom_container{
	 display: block;
  position: relative;
  width: 100%;
  background-color: white;
  z-index: 1;
  margin: 0 auto;
}

.top_text{
	background-color: #EEEEEE;
	text-align: justify;
}

/*Table*/

table {
  width: 99%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

caption {
	font-size: 3.5vh;
	color: #eee;
	margin-bottom: 1vh;
}

table tr td:nth-child(1) {
  width: 2%;
}
table tr td:nth-child(2) {
  width: 4%;
}
table tr td:nth-child(3) {
  width: 10%;
}
table tr td:nth-child(4) {
  width: 4%;
}
table tr td:nth-child(5) {
  width: 20%;
}
table tr td:nth-child(6) {
  width: 8%;
}
table tr td:nth-child(8) {
  width: 15%;
  padding: 0px;
}

th, td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
  background-color: #f5fdff;
}

th {
  background-image: linear-gradient(#56d1f8, #ccc);
  color: #fff;
}

.tableDropList {
	width: 100%;
	border: none;
	height: 100%;
	font-family: 'Corbel Light', sans-serif;
	background-color: #ccc;
	float: right;
	transition-duration: 0.5s;
}

.tableDropList:hover {
	background-image: linear-gradient(0deg, #69d6f5, #90b3be);
}

/*outdated?*/

.open-button {
  background-color: transparent;
  color: white;
  right: 10px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed; 
}

/* LogIn/Registration form */

form {
  width: 30%;
  min-width: 50vh;
  background-color: white;
  display: none;
  position: fixed;
  top: 20.2vh;
  left: 35%;
  right: 35%;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

form label {
	width: 90%;
	margin-left: 5%;
    margin-right: 5%;
	margin-bottom: 0.5vh;
	font-size: 2vh;
}

/* Full-width input fields */
form input {
  width: 90%;
  height: 4vh;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2vh;
  border: none;
  background: #f1f1f1;
  font-size: 2vh;
}

/* When the inputs get focus, do something */
form input:focus{
  background-color: #ddd;
  outline: none;
}

.errorMsg {
	color: #f00;
	display: none;
}

form button {
  color: white;
  border: none;
  cursor: pointer;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: 5vh;
  margin-bottom: 2vh;
  opacity: 0.8;
  font-size: 2vh;
}

/* Set a style for the submit/login button */
form #btn-submit, #btn-register, #btn-register-reroute {
  background-image: linear-gradient(#85fadb, #09ce99);
}

/* Add a green background color to the register button */
form #btn-register, #btn-register-reroute {
   background-image: linear-gradient(#5ad6fc, #0abaf0);
}

/* Add a red background color to the cancel button */
form #btn-cancel-signIn, #btn-cancel-reg {
   background-image: linear-gradient(#f98967, #f5450f);
}

/* Add some hover effects to buttons */
form button:hover {
  opacity: 1;
}